<%= form_for @job do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--   <div class="field">
    <%= f.label :company_id %><br />
    <%= f.number_field :company_id %>
  </div> -->
  <div class="large-6 columns">
    <%= f.label :title,  class: "label radius", title: "Job Title", data: {tooltip: true } %>
    <%= f.text_field :title %>
  </div>
 
    <div class="large-6 columns">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>




  
    <div class="large-3 columns">
    <%= f.label :posted_date %> 
    <%= f.date_select :posted_date %>
  </div>

 
    <div class="large-3 columns">
    <%= f.label :last_date %> 
    <%= f.date_select :last_date %>
  </div>
 
  
    <div class="large-3 columns">
    <%= f.label :start_date %> 
    <%= f.date_select :start_date %>
</div>


    <div class="large-4 columns">
    <%= f.label :travel_required %> 
    <%= f.check_box :travel_required %>
  </div>

<div class="large-4 columns">
  <%= f.label(:industry, "industry", :class => "control-label") %>
  <div class="controls">
    <%= f.select(:industry_id, Industry.all.map { |i| [i.name, i.id] }, :prompt => "Select an Industry", :rows => 1, :style => "width:100%; max-width:100%;") %>
  </div>
  </div>


<!--     <div class="large-3 columns">
    <%= f.label :emp_type_id %> 
    <%= f.number_field :emp_type_id %>
  </div> -->

  <div class="large-4 columns">
  <%= f.label(:emp_type, "Employee type", :class => "control-label") %>
  <div class="controls">
    <%= f.select(:emp_type_id, EmpType.all.map { |i| [i.name, i.id] }, :prompt => "Select Employee type", :rows => 1, :style => "width:100%; max-width:100%;") %>
  </div>
  </div>




<!--     <div class="large-3 columns" style="padding: 10px">
    <%= f.label :salary_range_id %> 
    <%= f.number_field :salary_range_id %>
  </div> -->

   <div class="large-4 columns">
  <%= f.label(:salary_range, "Salary Range", :class => "control-label") %>
  <div class="controls">
    <%= f.select(:salary_range_id, SalaryRange.all.map { |i| [i.name, i.id] }, :prompt => "Select a Salary Range", :rows => 1, :style => "width:100%; max-width:100%;") %>
  </div>
  </div> 


<!--     <div class="large-3 columns">
    <%= f.label :currency_id %> 
    <%= f.number_field :currency_id %>
  </div> -->

<!-- 
    <div class="large-3 columns">
    <%= f.label :division_id %> 
    <%= f.number_field :division_id %>
  </div> -->

      <div class="large-4 columns">
  <%= f.label(:division, "Division", :class => "control-label") %>
  <div class="controls">
    <%= f.select(:division_id, Division.all.map { |i| [i.name, i.id] }, :prompt => "Select a Division", :rows => 1, :style => "width:100%; max-width:100%;") %>
  </div>
  </div>


<!--    <div class="large-3 columns">
    <%= f.label :dept_id %> 
    <%= f.number_field :dept_id %>
  </div>
 -->
    <div class="large-4 columns">
  <%= f.label(:dept, "Department", :class => "control-label") %>
  <div class="controls">
    <%= f.select(:dept_id, Dept.all.map { |i| [i.name, i.id] }, :prompt => "Select a Department", :rows => 1, :style => "width:100%; max-width:100%;") %>
  </div>
  </div>


<div class="large-6 columns" id="skillset">
<h2>Skills</h2>
<%= f.fields_for :skills do |skill| %>
  <%= render 'nested_skills', :f => skill %>
<% end %>
<%= link_to_add_association 'Add Skill', f, :skills, 
              :partial => 'nested_skills' , :render_options => { :wrapper => 'inline' }%>
</div>

<script language="JavaScript">

function remove_skills(link) {
  // $(link).hide();
  // $(link).parentNode.hide();
  // var parent = $(link).parentNode;
  // parent.hide();
  // $(link).parentNode.style.display = 'none';
  // $(link).parentNode.parentNode.removeChild($(link).parentNode);
  // $(link).parentNode.hidden = true;
  // $(link).previous("input[type=hidden]").value = "1";
  // $(link).up(".skills").hide();
  // $(link).up(".skills").hidden = true;
}

$(".skills a").click(function(e) {

    e.preventDefault(); 
    // $(this).previous("input[type=hidden]").value = "1";           
    $(this).parent().hide();            
    
});

function add_skill() {
    alert("skill added");
  }

</script>

    <div class="large-12 columns">
    <%= f.label :job_description, "Job Description" %> 
    <%= f.text_area :job_description %>
  </div>

    <div class="large-12 columns">
    <%= f.label :job_requirements %> 
    <%= f.text_area :job_requirements %>
  </div>


<!-- 
      <div class="control-group">
        <div class="controls">
          <input type="text" id="skills" name="skills" class="input-xlarge"
            placeholder="Enter skills for which you want to search jobs"
            required>
        </div>
      </div> 

  <script type="text/javascript">
    $('#skills').tagsInput({
      defaultText : "add skills"
    });
   $('form').submit(function()
   {

   })
  </script>
 -->

  <div class="actions">
    <div class="large-3 columns">
     <%= f.submit "Create Job", :class => "button radius" %>
  </div>
  </div>
<% end %>
