

<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--   <div class="field">
    <%= f.label :company_id %><br />
    <%= f.number_field :company_id %>
  </div> -->
  <div class="large-6 columns">
    <%= f.label :title,  class: "label radius", title: "Job Title", data: {tooltip: true } %>
    <%= f.text_field :title %>
  </div>
 
    <div class="large-6 columns">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>




  
    <div class="large-3 columns">
    <%= f.label :posted_date %> 
    <%= f.date_select :posted_date %>
  </div>

 
    <div class="large-3 columns">
    <%= f.label :last_date %> 
    <%= f.date_select :last_date %>
  </div>
 
  
    <div class="large-3 columns">
    <%= f.label :start_date %> 
    <%= f.date_select :start_date %>
</div>


    <div class="large-4 columns">
    <%= f.label :travel_required %> 
    <%= f.check_box :travel_required %>
  </div>

<div class="large-4 columns">
  <%= f.label(:industry, "industry", :class => "control-label") %>
  <div class="controls">
    <%= f.select(:industry_id, Industry.all.map { |i| [i.name, i.id] }, :prompt => "Select an Industry", :rows => 1, :style => "width:100%; max-width:100%;") %>
  </div>
  </div>


    <div class="large-3 columns">
    <%= f.label :employee_type_id %> 
    <%= f.number_field :employee_type_id %>
  </div>




    <div class="large-3 columns" style="padding: 10px">
    <%= f.label :salary_range %> 
    <%= f.number_field :salary_range %>
  </div>


    <div class="large-3 columns">
    <%= f.label :currency_id %> 
    <%= f.number_field :currency_id %>
  </div>

    <div class="large-3 columns">
    <%= f.label :division_id %> 
    <%= f.number_field :division_id %>
  </div>


    <div class="large-3 columns">
    <%= f.label :department_id %> 
    <%= f.number_field :department_id %>
  </div>




    <div class="large-12 columns">
    <%= f.label :job_description %> 
    <%= f.text_area :job_description %>
  </div>

    <div class="large-12 columns">
    <%= f.label :job_requirements %> 
    <%= f.text_area :job_requirements %>
  </div>

  <div class="actions">
    <div class="large-3 columns">
    <%= f.submit "Create Job", :class => "button radius" %>
  </div>
  </div>
<% end %>
