<%= form_for @job do |f| %>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css" />
 <style>
 #amount
{
color:blue;
text-align:center; 
border:0;

}
#slider-range-max
{
margin-top: 8px;

}
 </style>

  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--   <div class="field">
    <%= f.label :company_id %><br />
    <%= f.number_field :company_id %>
  </div> -->
  <div class="row">
  <div class="large-6 columns">
    <%= f.label :title,  class: "label radius", title: "Job Title", data: {tooltip: false } %>
    <%= f.text_field :title %>

    <%= f.label :location,class:"label radius",title:"location",data:{tooltip:false}%>
    <%= f.text_field :location %>
  </div>
  </div>




  <div class="row">
    <div class="large-3 columns">
    <%= f.label :posted_date ,class:"label radius",title:"posted_date",data:{tooltip:false}%>
    <%= f.date_select :posted_date %></br></br>

    <%= f.label :last_date  ,class:"label radius",title:
    "last_date",data:{tooltip:false}%>
    <%= f.date_select :last_date %></br></br>

    <%= f.label :start_date ,class:"label radius",title:
    "start_date",data:{tooltip:false}%>
    <%= f.date_select :start_date %></br></br>
    </div>
  </div>


<div class="row">
    <div class="large-4 columns">
    <%= f.label :travel_required ,class:"label radius",title:"travel_required",data:{tooltip:false} %> 
    <%= f.check_box :travel_required %></br></br>


  <%= f.label(:industry ,class:"label radius",title:"industry",data:{tooltip:false}) %>
  <div class="controls">
    <%= f.select(:industry_id, Industry.all.map { |i| [i.name, i.id] }, :prompt => "Select an Industry", :rows => 1, :style => "width:100%; max-width:100%;") %>
  </div></br>



<!--     <div class="large-3 columns">
    <%= f.label :emp_type_id %> 
    <%= f.number_field :emp_type_id %>
  </div> -->


  <%= f.label(:emp_type, "Employee type",class:"label radius",title:"emp_type",data:{tooltip:false}) %>
  <div class="controls">
    <%= f.select(:emp_type_id, EmpType.all.map { |i| [i.name, i.id] }, :prompt => "Select Employee type", :rows => 1, :style => "width:100%; max-width:100%;") %></br></br>
  </div>





<!--     <div class="large-3 columns" style="padding: 10px">
    <%= f.label :salary_range_id %> 
    <%= f.number_field :salary_range_id %>
  </div> -->

  <%= f.label(:salary_range,class:"label radius",title:"salary_range",data:{tooltip:false}) %>
  <div class="controls">
    <%= f.select(:salary_range_id, SalaryRange.all.map { |i| [i.name, i.id] }, :prompt => "Select a Salary Range", :rows => 1, :style => "width:100%; max-width:100%;") %></br></br>
  </div>



<!--     <div class="large-3 columns">
    <%= f.label :currency_id %> 
    <%= f.number_field :currency_id %>
  </div> -->

<!-- 
    <div class="large-3 columns">
    <%= f.label :division_id %> 
    <%= f.number_field :division_id %>
  </div> -->


  <%= f.label(:division, "Division",class:"label radius",title:"division",data:{tooltip:false}) %>
  <div class="controls">
    <%= f.select(:division_id, Division.all.map { |i| [i.name, i.id] }, :prompt => "Select a Division", :rows => 1, :style => "width:100%; max-width:100%;") %></br></br>
  </div>



<!--    <div class="large-3 columns">
    <%= f.label :dept_id %> 
    <%= f.number_field :dept_id %>
  </div>
 -->

  <%= f.label(:dept, "Department",class:"label radius",title:"dept",data:{tooltip:false}) %>
  <div class="controls">
    <%= f.select(:dept_id, Dept.all.map { |i| [i.name, i.id] }, :prompt => "Select a Department", :rows => 1, :style => "width:100%; max-width:100%;") %></br>
  </div>
  </div>

</div>


<div class="large-12 columns" id="skills_group">
</br></br><label class="label radius large">Skills</label></br></br>
<!--   -->
 
<div>
<%= f.fields_for :skills do |skill| %>
  <%= render 'nested_skills', :f => skill %>
<% end %>
<%= link_to_add_association 'Add Skill', f, :skills, 
              :partial => 'nested_skills' , :render_options => { :wrapper => 'inline' }%>
</div>
</div>


<!-- <div class="small-8 columns" id="skillset">
<h2>Skills</h2>
<div id="Skill_slider_combo">
   <div class="row ">
   <div class="large-7 columns">
        <input type="text" id="Skill_name">
        </div>
  <div class="small-4 columns">
<div id="slider-range-max"></div>
<input type="text" id="amount" readonly="readonly"
   style = "background-color: #eeeeee"  /> </div>
</div>

</div>


</div>
<div class="large-8 columns">

<button id="addskill" type="button" class="small button">Add Skills</button>
<button id="deleteskill" type="button"  class="small button">Delete Skill</button>
</div> -->


    <div class="large-12 columns"></br>
    <%= f.label :job_description, class:"label radius",title:"job_description ",data:{tooltip:false} %> 
    <%= f.text_area :job_description %>
  </div>

    <div class="large-12 columns">
    <%= f.label :job_requirements ,class:"label radius",title:"job_requirements",data:{tooltip:false} %> 
    <%= f.text_area :job_requirements %>
  </div>

<div class="actions">
    <div class="large-3 columns">
     <%= f.submit "Create Job", :class => "button radius" %>
  </div>
  </div>
 
<% end %>
<!-- 
      <div class="control-group">
        <div class="controls">
          <input type="text" id="skills" name="skills" class="input-xlarge"
            placeholder="Enter skills for which you want to search jobs"
            required>
        </div>
      </div> 

  <script type="text/javascript">
    $('#skills').tagsInput({
      defaultText : "add skills"
    });
   $('form').submit(function()
   {

   })
  </script>
 -->

  

















<script language="JavaScript">

function remove_skills(link) {
   $(link).hide();
   $(link).parentNode.hide();
   var parent = $(link).parentNode;
   parent.hide();
   $(link).parentNode.style.display = 'none';
  $(link).parentNode.parentNode.removeChild($(link).parentNode);
   $(link).parentNode.hidden = true;
   $(link).previous("input[type=hidden]").value = "1";
   $(link).up(".skills").hide();
   $(link).up(".skills").hidden = true;
}

$(".skills a").click(function(e) {

    e.preventDefault(); 
    // $(this).previous("input[type=hidden]").value = "1";           
    $(this).parent().hide();            
    
});

function add_skill() {
    alert("skill added");
  }
$(function() {
    $( "#slider-range-max" ).slider({
      range: "max",
      min: 1,
      max: 50,
      value: 1,
      slide: function( event, ui ) {
        if(ui.value>=1 && ui.value<10)
        $( "#amount" ).val( "Average");
       if(ui.value>=10 && ui.value<20)
        $( "#amount" ).val( "Good");
       if(ui.value>=20 && ui.value<30)
        $( "#amount" ).val( "Above Average");
       if(ui.value>=30 && ui.value<40)
        $( "#amount" ).val( "Excellent");
       if(ui.value>=40 && ui.value<=50)
        $( "#amount" ).val( "Exceptional");
      }
    });
  $( "#amount" ).val("Average");
  });
 var i = 0;
var original = document.getElementById('Skill_slider_combo');
$('#addskill').click(function(){
  $(".Skill_slider_combo:last").after($(".Skill_slider_combo:first").clone(true));
    var clone = original.cloneNode(true); // "deep" clone
    clone.id = "Skill_slider_combo"+ ++i; // there can only be one element with an ID
    original.parentNode.appendChild(clone);
});


$('#deleteskill').click(function(){
      $(this).closest('div.transactionsWrapper').remove();
  });

</script>


