<!-- <div class="row">

 <div class="row">
  <div class="column large-5">  
  <script type="IN/Login">
    Hello, <?js= firstName ?> <?js= lastName ?>.
  </script>
  </div>  
  <div class="column large-5">
  <!-- <script type="IN/CompanyProfile" data-id="PTCL" data-format="inline"></script> -->
  <!--  <script type="IN/CompanyProfile" data-id="1345705" data-format="inline"></script>
  </div>
</div> 
 -->


<div class="row">
<p><b>
  <%= @company.name %></br>
  <%= @company.website %>
</b></p>
</div>

<div class="row">    
    
    <!-- Main Content Section -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="large-9 push-3 columns" style="backgroud-color: #000">

       <h5> You have <%= @company.jobs.count %> open jobs </h5></br>

        <% @company.jobs.each do |job| %>
        The post of <%= link_to job.title, job_portal_path(job.id) %> has      
        <b><%= job.job_applications.count %></b> applicants</br></br>
        <% end %>

<canvas id="canvas" height="250" width="250"></canvas>


            
    </div>
    
    
    <!-- Nav Sidebar -->
    <!-- This is source ordered to be pulled to the left on larger screens -->
    <div class="large-3 pull-9 columns">
        
      <ul class="side-nav">
      <h5> Open Jobs </h5>
        <% Job.where(:company_id => current_user.profileable.company.id).each do |job| %>
        <li><%= link_to job.title, job_portal_path(job.id) %></li>
        <%end%>
        <h5> Closed Jobs </h5>
        <li><a href="#">Section 1</a></li>
        <li><a href="#">Section 2</a></li>
        <li><a href="#">Section 3</a></li>
        <li><a href="#">Section 4</a></li>
        <li><a href="#">Section 5</a></li>
        <li><a href="#">Section 6</a></li>
        <li><h4><%= link_to 'Post a new job',new_job_path %> </h4></li>
      </ul>
      
      
        
    </div>
    
  </div>
    



























  <script>

    var pieData = [  



        {
          value: 30,
          color:"#F38630"
        },
        {
          value : 50,
          color : "#E0E4CC"
        },
        {
          value : 100,
          color : "#69D2E7"
        }
      
      ];

  var myPie = new Chart(document.getElementById("canvas").getContext("2d")).Pie(pieData);
  
  </script>