<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
  	<title><%= content_for?(:title) ? yield(:title) : "recreal - real-time synergetic hiring" %></title>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    
    <%= javascript_include_tag "foundation/custom-modernizr.js" %>
  	<%= javascript_include_tag "vendor/zepto.js" %>
      <%= javascript_include_tag "jquery.min.js" %>  
    <!-- <%= javascript_include_tag "vendor/jquery" %> -->
     <%= javascript_include_tag 'jquery', "application" %> 
    <%= javascript_include_tag "foundation.min.js" %>
     <%= javascript_include_tag "jquery.countdown.min" %> 
    <%= javascript_include_tag "foundation/foundation.orbit.js" %>
    <%= javascript_include_tag "foundation/foundation.reveal.js" %>
    <%= javascript_include_tag "foundation/foundation.topbar.js" %>
 
  <%= stylesheet_link_tag "tagsinput.css" , :media => 'application' %>
  <%= javascript_include_tag "tagsinput.js" , :media=>'application' %>
    <!-- <%= javascript_include_tag "prototype" %> -->
    <!-- <%= javascript_include_tag "foundation/foundation.js" %> -->
    <!-- <%= javascript_include_tag "vendor/custom.modernizr" %> -->
    <%= csrf_meta_tags %>

<script type="text/javascript" src="http://platform.linkedin.com/in.js">
  api_key: cheq81slu4pe
  authorize: true   
  </script>
 
<!-- 
        <style>
      body {
        padding-top: 60px;  60px to make the container go all the way to the bottom of the topbar 
      }
    </style>
     -->

<style>
        footer {
            position: relative;
            left: 0;
            right: 0;
            bottom: 0;
            height: 50px;
            width: 100%;
            display: block;
            text-align: center;
            vertical-align: middle;
            background: #eeeeee;
        }
    </style>

  </head>

  <body style = "background-color: #eeeeee">







    
 <% if !current_user.nil? %>
    <% if current_user.profileable_type == "Employer" %>
      <%= render :partial => 'layouts/navbar' %>
    <% else %>
      <%= render :partial => 'layouts/navbar_candidate' %>
    <% end %>
<% end %>

    <% if flash[:notice] %>
      <div id="notice"><%= flash[:notice] %></div>
    <% end %> 
    

    



    <%= yield %>



  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; all Copyrights reserved.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">About</a></li>
            <li><a href="#">Company</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>

    <script>
//   document.write('<script src=/javascripts/vendor/'
//     + ('__proto__' in {} ? 'zepto' : 'jquery')
//     + '.js><\/script>');
// </script>
  </body>
</html>
